{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- index contant begins here -->
<marquee behavior="" direction="left" class="border-bottom mb-5">This is a Library Management System. It is under
    development!!</marquee>
<div class="row justify-content-center">
    <div class="col-4 ">
        <div class="text-center border rounded p-4">
            <h3>Notice</h3>
            <ul>
                <li>This is my notice and don't disturb me ok you donkey</li>
                <li>This is my notice and don't disturb me ok you donkey</li>
                <li>This is my notice and don't disturb me ok you donkey</li>
            </ul>
        </div>
    </div>
  
    <div class="col-7 ">
        <form method="post" action="/add_student" class="border rounded row  p-4 needs-validation" validate>
            <div class="col-md-6">
                <label for="name" class="form-label">Name</label>
                <input required type="text" class="form-control" id="name" name="name">
            </div>
            <div class="col-md-6">
                <label for="dob" class="form-label">Date Of Birth</label>
                <input required type="date" class="form-control" id="dob" name="dob">
            </div>
            <div class="col-12">
                <label for="email" class="form-label">Email</label>
                <input required type="email" class="form-control" id="" placeholder="abc@gmail.com" name="email">
            </div>
            <div class="col-12">
                <label for="phone" class="form-label">Phone</label>
                <input required type="number" class="form-control" id="phone" placeholder="9862......" name="phone">
            </div>
            <div class="col-md-6">
                <label for="class" class="form-label">class</label>
                <input required type="text" class="form-control" id="class" name="class">
            </div>
            <div class="col-md-6">
                <label for="roll" class="form-label">Roll No</label>
                <input required type="text" class="form-control" id=" roll" name="roll">                 
            </div>             
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}